.header {
  text-align: center;
  background-image: url("Assets/houseplant.jpeg");
  background-position: 10% 40%;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.header h1 {
  color: gold;
  text-align: center;
  padding-top: 5%;
  font-size: 6em;
}

.section3 {
  background-image: url("Assets/veg3.jpeg");
  padding: 12% auto;
  background-size: 200%;
  background-position: center;
  padding-top: 3%;
  padding-left: 3%;
}

.glide {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10% 10%;
  border-radius: 10px;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0%;
  margin: 0;
}

.glide__slide {
  flex: 0 0 auto;
}

.card-container {
  display: flex;
}

.card1,
.card3,
.card5,
.card7,
.card9,
.card2,
.card4,
.card6,
.card8 {
  border: solid rgb(138, 113, 87) 2px;
  border-radius: 10px;
  padding: 2%;
  width: 300px;
  margin-right: 2%;
}
.card1,
.card3,
.card5,
.card7,
.card9 {
  color: rgb(138, 113, 87);
  background-color: white;
}
.card2,
.card4,
.card6,
.card8 {
  background-color: rgb(138, 113, 87);
  color: white;
}

.glide__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: rgb(236, 233, 205);
    color: rgb(138, 113, 87);
    font-size: 20px;
    padding: 10px 20px;
    border: solid 2px rgb(138, 113, 87);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
  }
}

.glide__bullets {
  margin-top: auto;

  button {
    background-color: rgb(236, 233, 205);
    border: solid 2px rgb(138, 113, 87);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;

    button.glide__arrow--left {
      left: 0;
    }

    button.glide__arrow--right {
      right: 0;
    }
  }
  .glide__bullet--active {
    background-color: rgb(138, 113, 87);
    border: solid 2px rgb(236, 233, 205);
  }
}

@media (max-width: 768px) {
  .glide {
    width: 100%;
  }
  .glide__bullets button {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10px;
    width: 10px;
  }
  .header h1 {
    font-size: 3em;
  }

  .glide {
    padding: 0;
    min-width: 100%;
  }
  .glide__slide {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .card-container {
    width: 100%;
    margin-top: 3%;
    margin-left: 3%;
    
  }
  .card1,
  .card3,
  .card5,
  .card7,
  .card9,
  .card2,
  .card4,
  .card6,
  .card8 {
    min-width: 96%;
    margin: 0;
  }
}
