.footer-portfolio {
  background-color: rgb(158, 182, 119);
  z-index: 100;
  border-top: 5px solid transparent;
  transition: border-top 0.9s ease;
  position: relative;
}

.footer-portfolio:hover {
  border-top: 5px solid rgb(183, 246, 76);
}

.download-link {
  text-decoration: none;
  color: rgb(65, 65, 72);
  font-weight: 500;
  display: block;
  margin-top: 5px;
  font-size: 20px;
}

.download-link:hover {
  color: rgb(183, 246, 76);
}

.links {
padding: 2%;
}

.footer-icon,
.download-icon {
  color: rgb(65, 65, 72);
  margin-right: 15px;
}

.download-icon {
  margin-right: 11px;
}

.brand-icon {
  height: 40px;
  width: 40px;
  color: rgb(65, 65, 72);
  margin-right: 10px;
}

.brand-icon:hover {
  color: rgb(183, 246, 76);
}

.top-link {
  position: relative;
  top: -30%;
  left: -50%;
  overflow: hidden;
}
.angleup {
  position: relative;
  right: -50%;
  top: 13px;
  height: 60px;
  margin-top: -5%;
  z-index: 20;
}
@media (max-width: 480px) {
  .angleup {
    height: 60px;
    position: relative;
    top: 14px;
  }

}
