.section1 {
    height: 500px;
    background-image: url('../Assets/home.jpeg');
    background-size: cover;
    background-position: center;
}

.section1-p,
.section1-h1 {
    width: 400px;
   color: rgb(183, 246, 76);
    font-size: 43px;
    margin-left: 20%;
    position: relative;
    top: 7% 
}

.section1,
.section2,
.section5-container1,
.section6 {
    width: 100%;
    height: 700px;
}

.section2 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section2-container {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
}

.veg1-container {
    height: 400px;
    width: 400px;
    background-size: 550%;
    background-position: center;
    overflow: hidden;
    background-image: url('../Assets/veg1.png'); 
}

.section2-p{
    text-align: center;
    font-size: 25px;
    color:rgb(65, 65, 72)
}

.section3 {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    align-items: center;    
}

.motion-div-1 {
    border: solid rgb(138, 113, 87) 2px;
    color: rgb(138, 113, 87);
}

.motion-div-2 {
    background-color: rgb(138, 113, 87);
    color: white;
    margin-top: 15px;
}

.section3-container2 {
    height: 600px;
    width: 600px;
    background-size: 550%;
    background-position: center;
    overflow: hidden;
    background-image: url('../Assets/veg3.jpeg'); 
}

.section3-container1 {

    height: 700px;
    width: 600px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 8%;
}

.section4 {
    height: 700px;
    width: 100%;
    background-size: 150%;
    background-position: center;
    overflow: hidden;
    background-image: url('../Assets/veg2.jpg'); 
    margin-top: 5%;
}

.section4-container1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
}

.img1,
.img2,
.img3 {
    height: 500px;
    width: 400px;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    border-radius: 20px;
}

.img1 {
    background-image: url('../Assets/veg4.jpg'); 
}

.img2 {
    background-image: url('../Assets/veg5.jpg'); 
}

.img3 {
    background-image: url('../Assets/veg6.jpg'); 
}

.section5-container1 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: whitesmoke;
    padding: 3%;
}

.section5-container2 {
    margin-right: 3%;
}

.section5-container2 p,
.section5-container3 p{
    padding: 7%;
    color: rgb(65, 65, 72);
    font-size: 20px;
}

.section6,
.section7 {
    height: 700px;
    width: 100%;
    background-size: 85%;
    background-position: center;
    overflow: hidden;
    background-image: url('../Assets/figma.webp'); 
    background-repeat: no-repeat;
    margin-top: 5%;
}

.section7 {
    background-image: url('../Assets/sop.png'); 
    padding: 10%;
    background-color: rgb(236, 233, 205);
}


@media (max-width: 480px) {
    .section1 {
        height: 800px;
    }
    .section1-p,
    .section1-h1{
        margin-left: 6%;
        position: relative;
        top: 4%;
        width: 400px;
        font-size: 50px;
    }

    .section2 {
        display: flex;
        flex-wrap: wrap;
        padding: 5%;
        height:auto;
    }

    .section3 {
        padding: 5px;
    }

    .section3-container1{
        font-size: 16px;
        font-weight: 600;
    }
    .section3-container2 {
        height: 700px;
        padding-right: 20px;
        margin-left: 5px;
        margin-top: 40px;
        overflow: hidden;
    }

    .section4 {
        margin-top: 40%;
    }

    .section4-container1 {
        display: flex;
        flex-wrap: wrap;
    }

    .img1,
    .img2,
    .img3 {
        height: 200px;
        width: 300px;
        margin-bottom: 5%;
    }
    .section5-container1{
        height: 800px;
        padding-top: 10%;
    }
    .section5-container2 p,
    .section5-container3 p{
    font-size: 15px;    
    }

    .section6 {
        height: 500px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .section7 {
        background-size: 200% 100%;
        padding: 10%;
        background-color: rgb(236, 233, 205);
        overflow: hidden;
        height: 500px;
    }
    
    
}
