
.section2 p,
.img1,
.img2,
.img3,
.motion-div-1,
.motion-div-2,
.motion-div-3,
.process-step1,
.process-step2,
.process-step3,
.process-step4,
.process-step5,
.process-step6,
.boh-intro-text-box p {
  -webkit-box-shadow: 13px 12px 17px -7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 13px 12px 17px -7px rgba(0, 0, 0, 0.4);
  box-shadow: 13px 12px 17px -7px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.section1 {
  height: 500px;
  background-image: url("../Assets/home.jpeg");
  background-size: cover;
  background-position: center;
}

.section1-p,
.section1-h1 {

  color: rgb(183, 246, 76);
  font-size: 50px;
  position: relative;
  top: 7%;
  left: 20%
}

.section1,
.section5-container1 {
  width: 100%;
  height: 700px;
}

.section2 {
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  padding-bottom: 5%;
}
.section2-container {
  height: 700px;
  width: 400px;
  display: flex;
  align-items: center;
  padding-top: 20%;
}
.veg1-container {
  height: 700px;
  width: 400px;
  background-position: center;
}
.veg1 {
  position: relative;
  bottom: 690px;
  right: -350px;
  height: 900px;
  width: 900px;
  z-index: 2;
}
.headshot {
  position: relative;
  top: 140px;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
}
.section2 p,
.boh-intro-text-box p {
  text-align: center;
  font-size: 17px;
  color: rgb(65, 65, 72);
  border: 1px solid rgb(65, 65, 72, 0.2);
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 5%;
}

.section3 {
  height: 750px;
  width: 100%;
  display: flex;
  flex-direction: wrap;
  padding-left: 7%;
  background-image: url("../Assets/veg3.jpeg");
  background-size: 110%;
  background-position: center;
  overflow: hidden;
}

.motion-div-1,
.motion-div-3 {
  border: solid rgb(138, 113, 87) 2px;
  color: rgb(138, 113, 87);
  background-color: white;
  margin-top: 5%;
  border-radius: 10px;
  padding: 5%;
}

.motion-div-2 {
  background-color: rgb(138, 113, 87);
  color: white;
  margin-top: 5%;
  border-radius: 10px;
  padding: 5%;
}

.section3-container1 {
  height: auto;
  width: 600px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%;
}

.section4 {
  height: 700px;
  width: 100%;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  background-image: url("../Assets/mulch.jpeg");
}

.section4-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
  margin-top: 2%;
}

.img1,
.img2,
.img3 {
  height: 500px;
  width: 350px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 20px;
}

.img1 {
  background-image: url("../Assets/veg4.jpg");
}

.img2 {
  background-image: url("../Assets/veg5.jpg");
}

.img3 {
  background-image: url("../Assets/veg6.jpg");
}
.process-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  background-image: url("../Assets/veg2.jpg");
  overflow: hidden;
}
.process-image {
  background-image: url("../Assets/figma.webp");
  background-size: cover;
  height: 500px;
  width: 49%;
  box-sizing: border-box;
  margin-right: 2%;
  border-radius: 10px;
}
.processes {
  height: 500px;
  width: 49%;
  overflow-y: auto;
  background-image: url("../Assets/houseplant.jpeg");
  background-size: cover;
  padding: 5%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  border-radius: 10px;
}
.processes::-webkit-scrollbar {
  width: 12px;
}

.process-step1,
.process-step2,
.process-step3,
.process-step4,
.process-step5,
.process-step6 {
  background: rgb(245, 245, 245);
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245) 0%,
    rgba(236, 233, 205) 35%,
    rgba(158, 182, 119,.9) 100%
  );
  border: 1px solid rgb(65, 65, 72, 0.2);
  border-radius: 10px;
  padding: 2%;
  margin-top: 50px;
}
.process-step1,
.process-step2,
.process-step3,
.process-step4,
.process-step5,
.process-step6 h2 {
  text-align: center;
  font-size: 40px;
}
.process-step1,
.process-step2,
.process-step3,
.process-step4,
.process-step5,
.process-step6 p {
  font-size: 17px;
  text-align: center;
}

.section6 {
  background-color: blue;
}
.boh-intro-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
 
}

.boh-intro-image-box {
  background-image: url("../Assets/backend-image.png");
  background-size: 170%;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 75%;
}

.boh-intro-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
}



/* Media Query for Mobile */
@media (max-width: 480px) {
  /* Section 1 */
  .body{
    width:100%;
  }
  .section1 {
    height: 530px; 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
  }

  .section1-p,
  .section1-h1 {
    font-size: 37px;
    top: 4%;
    left: 5%;
    margin-right: 10%;
  }

  /* Section 2 */
  .section2 {
    flex-direction: column;
    align-items: center;
    padding: 5% 5% 10%;
    background-color: blue;
  }

  .section2-container,
  .veg1-container {
    width: 100%;
  }

  .veg1 {
    position: relative;
    top: -6%;
    right: 0;
    height: 50%;
    width: 100%;
    max-width: 900px;
    z-index: 2;
    margin: 0 auto;
    overflow: hidden;

  }
  .headshot {
    position: relative;
    top: 30%;
    height: 350px;
    width: 100%;
    border-radius: 50%;
    object-position: center -10px;
  }

  .section2 p,
  .boh-intro-text-box p {
    position: relative;
    bottom: 60%;
    font-size: 16px;
    padding: 3%;
  }

  /* Section 3 */
  .section3 {
    padding: 5%;
  }

  .section3-container1 {
    font-size: 16px;
  }

  .motion-div-1,
  .motion-div-2,
  .motion-div-3 {
    width: 100%;
    text-align: center;
  }

  /* Section 4 */
  .section4 {
    height: auto;
  }

  .section4-container1 {
    width: 100%;
  }

  .img1,
  .img2,
  .img3 {

    height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-repeat: no-repeat;
  }

  /* Process Container */

  .processes {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

  }

  .process-image{
    background-image: none;
    display: none;
  }

  .process-step1,
  .process-step2,
  .process-step3,
  .process-step4,
  .process-step5,
  .process-step6 {
    margin-right: 5%;
    min-height: 350px;
    min-width: 300px;
    padding: 10%;
    text-align: center;
    margin-top: 5%;
  }

  .process-step1,
  .process-step2,
  .process-step3,
  .process-step4,
  .process-step5,
  .process-step6 h2 {
    font-size: 24px;
  }

  .process-step1,
  .process-step2,
  .process-step3,
  .process-step4,
  .process-step5,
  .process-step6 p {
    font-size: 16px;
    text-align: center;
  }

  /* Section 6 */
  .section6 {
    height: auto;
    background-size: cover;
  }

  .boh-intro-image-box {
    background-size: 120%;
    height: 300px;
  }

  .boh-intro-image-box,
  .boh-intro-text-box {
    width: 100%;
    padding: 5%;
    font-size: 20px;
  }
}
