.projects-section1 {
    height: 900px;
    background-image: url('../Assets/mushroomhero.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
}

.projects-section1-container1 {
    font-size: 9em;
    padding-top: 5%;
    padding-left: 5%;
}
.projects-section1-container1 h1 {
    font-size: 1em;
}
.projects-section1-container1 h3 {
    font-size: 40px;
    padding-top: 5%;
}

.projects-section1-container2 {
    width: 70rem;
    padding: 5%;
    margin-left: 5%;

    font-weight: 300;;
}
.projects-section1-container2 p  {
    margin-left: 5%;
    font-size: 1.2em;
}
.projects-section1-container2 h5{
    font-size: 2em;
}
.sub-container2 {
    margin-left: 15%;
}
.sub-container3 {
    margin-left: 30%;
}
container2 {
    overflow: hidden;
  }
.sub-container1,
.sub-container2,
.sub-container3 {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 2s, transform 1s;
}
.sub-container2 {
    transition-delay: 1s;
}
  .sub-container3 {
    transition-delay: 2s;
  }
  
  .activate-motion .sub-container1,
  .activate-motion .sub-container2,
  .activate-motion .sub-container3 {
    opacity: 1;
    transform: translateY(0);
  }

.projects-section1-container3 {
    height: 800px;
    text-align: center;
    padding: 15%;
    background-color: rgb(236, 233, 205);
}
.logo1 {
    height: 100px;
    width: 100px;
    border-radius: 3px;
}
.projects-section1-container3 h1 {
    color: goldenrod;
    font-size: 5em;
}
.projects-section1-container3 h4 {
    width: 500px;
    margin-left: 25%;
}
.projects-section1-container4 {
    height: 900px;
    background-image: url('../Assets/mushroombackground1.png');
    background-size: 210%;
    background-position: center;
    overflow: hidden;
}
.section4-h1{
    background-color: goldenrod;
    text-align: center;
    color:rgb(65, 65, 72);
    font-size: 70px;
}
.projects-section1-container4-subcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: 350px;
    margin-left: 13%;
    margin-top: 2%;
}
.image-card1{
    position: relative;
    margin-top: 60%;
    margin-right: 5%;

}
.image-card2{
    position: relative;
    margin-top: 80%;
    margin-right: 5%;

}
.image{
    position: absolute;
    top: -200px;
    left: 18px;
    z-index: 2;
}
.image2{
    position: absolute;
    top: -200px;
    left: 18px;
    z-index: 2;
}
.mushroom-images{
    object-fit: cover  ;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    padding: 5%;

}

.image-text{
    background-color: white;
    text-align: center;
    padding: 15%;
    padding-top: 30%;
}
.image-text2{
    background-color: white;
    text-align: center;
    padding: 15%;
    padding-top: 30%;
}