
.container{
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    width: 100vw;
}

.images {
    min-height: 50px;
    object-fit: cover;
    overflow: hidden;
    padding: 10px;
    background-color: whitesmoke;
    -webkit-box-shadow: 13px 12px 17px -7px rgba(0,0,0,0.12);
    -moz-box-shadow: 13px 12px 17px -7px rgba(0,0,0,0.12);
    box-shadow: 13px 12px 17px -7px rgba(0,0,0,0.12);
}

.box1 {
    height: 150px;
    object-fit: contain;
}
.box2 {
    height: 175px;
    object-fit: contain;
}
.box3 {
    height: 200px;
    object-fit: contain;
}
.box4 {
    height: 225px;
    object-fit: contain;
}
.box5 {
    height: 250px;
    object-fit: contain;
}
